@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

@page {
    margin: 0.25cm;
    size: landscape;
}

.card-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.page-break {
    page-break-after: always;
}

.card {
    page-break-inside: avoid;
    height: 8cm;
    margin: 0 0 0.5cm 0;
    padding: 0.5cm;
    border: black solid thin;
    box-sizing: border-box;
    flex-basis: 11.5cm;
    position: relative;

    h1 {
        font-size: 14pt;
        margin: 0 0 0.3em 0;
    }

    p {
        font-size: 10pt;
        margin: 0 0 0.3em 0;
    }

    .icons {
        position: absolute;
        top: 0.25cm;
        right: 0.25cm;
        opacity: 0.5;
    }

    .description {
        border: black solid thin;
        margin: 0.25cm -0.25cm 0 -0.25cm;
        height: 5.5cm;
        padding: 0.25cm;
    }
}