doctype html
html(lang="en")
    head
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(charset="utf-8")
        meta(name="description" content="Generated story cards")
        title Generated Story Cards
        link(rel="stylesheet" href="./main.css")
    body
        main.cards
            each cardRow in cardRows(4)
                .card-row
                    each card in cardRow
                        section.card
                            h1= card.Heading
                            article.description!= card.description
                div.page-break