doctype html
html(lang="en")
    head
        title Generated Story Cards
        link(rel="stylesheet" href="./main.css")
    body
        each card in cards
            section.card
                h1= card.Heading
                article!= card.description