doctype html
html(lang="en")
    head
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(charset="utf-8")
        meta(name="description" content="Generated story cards")
        title Generated Story Cards
        link(rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css")
        link(rel="stylesheet" href="./main.css")
    body
        main.cards
            each cardRow, index in cardRows(4)
                .card-row
                    each card in cardRow
                        section.card
                            header.icons
                                if card.IsBug
                                    i.fa.fa-bug.fa-2x
                                if card.IsSpike
                                    i.fa.fa-flask.fa-2x
                                if card.IsTask
                                    i.fa.fa-cog.fa-2x
                                if card.IsHighPriority
                                    i.fa.fa-exclamation.fa-2x
                            h1= card.Heading
                            article.box.description
                                dt Description
                                dd!= card.description
                            article.box.small
                                dt Estimate
                                dd!= card.Estimated
                            article.box.small
                                dt Priority
                                dd!= card.Priority
                if index < cardRows.length
                    div.page-break